# Ignore generated datasets but keep folder structure
data/raw/*
data/staging/*
data/curated/*

# Allow folders to exist
!data/raw/.gitkeep
!data/staging/.gitkeep
!data/curated/.gitkeep

# Ignore Synthea output
synthea/output/

# MacOS files
.DS_Store

# Logs
*.log

# Python cache
__pycache__/

synthea_generator/